.converter {
  background-color: white;
  padding: 15px 30px;
  border-radius: 5px;
  color: black;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  outline: solid 2px #118B44;
}

.inputSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.inputSection label {
  margin-bottom: 5px;
  font-weight: bold;
}

.inputSection input {
  background: inherit;
  color: black;
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 12px 8px;
  border-radius: 5px;
  font-size:17px;
}

.inputSection input:focus{
  outline:solid 1px #118B44;
}

.reorderButton {
  width: 50px;
  margin: auto;
  padding: 10px;
  font-size: 22px;
  background-color: inherit;
  color: black;
  border: none;
}

.reorderButton:hover{
  transform: scale(1.1);
}

.titleHeader {
  text-align: center;
}

.currentRateInfoText{
  text-align: center;
  font-size:15px;
  color:#118B44;
  font-weight:bold;
  font-style: italic;
}