* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Average Sans", "sans-serif", "arial", "monospace";
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  outline: none;
  font-family: inherit;
}

button:hover:not(:disabled),
a:hover {
  cursor: pointer;
}

/* hide input type 'number' element up/down arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}
/* hide input type 'number' element up/down arrows */
