* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans";
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  outline: none;
  font-family: inherit;
}

button:hover:not(:disabled),
a:hover {
  cursor: pointer;
}

/* hide input type number element arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* hide input type number element arrows */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
